{% extends "base.html.twig" %}

{% block body %}
    <div class="content">
        <h1>Rick and Morty</h1>
        <h2>Get the following data from the API</h2>
        <ul>
            <li>Show all Characters that exist (or are last seen) in a given Dimension;</li>
            <li>Show all Characters that exist (or are last seen) at a given Location;</li>
            <li>Show all Characters that partake in a given Episode;</li>
            <li>Showing all information of a Character (Name, Species, Gender, Location, Dimension, etc).</li>
        </ul>
    </div>
    <div class="filters form-group">
        <label for="dimension">Dimension</label>
        <select id="dimension" class="filter form-control">
            <option></option>
            {% for dimension in getDimensions() %}
                <option value="{{ dimension }}">{{ dimension }}</option>
            {% endfor %}
        </select> <br />

        <label for="location">Location</label>
        <select id="location" class="filter form-control">
            <option></option>
            {% for location in getLocations() %}
                <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select> <br />

        <label for="episode">Episode</label>
        <select id="episode" class="filter form-control">
            <option></option>
            {% for episode in getEpisodes() %}
                <option value="{{ episode.id }}">{{ episode.name }} ({{ episode.id }})</option>
            {% endfor %}
        </select>

        <script>
          $(function () {
            $(".filter").change(function () {
              window.location = window.location.href.split('?')[0] + "?" + $(this).attr('id') + "=" + this.value
            })
          })

          // $('.filter').selectize({
          //   // create: true,
          //   sortField: 'text'
          // })


          function param(name) {
            return (location.search.split(name + '=')[1] || '').split('&')[0]
          }
        </script>
    </div>
    <div class="results">
        <div class="results-title">Showing <strong>{{ characters|length }}</strong> results for
            {% for key, value in app.request.query.all() %}
                <strong>{{ key }} - {{ value }}</strong>:<br/>
            {% endfor %}
        </div>

        {% for character in characters %}
            {% if loop.first %}
                <div class="row">
            {% endif %}

            <div class="col-md-4">
                <div class="card-deck">
                    {% embed "character-card.html.twig" %}
                        {% block character_img %}{{ character.image }}{% endblock %}
                        {% block character_alt_img %}{{ character.name }}{% endblock %}
                        {% block character_name %}{{ character.name }}{% endblock %}
                        {% block character_status %}{{ character.status }}{% endblock %}
                        {% block character_species %}{{ character.species }}{% endblock %}
                        {% block character_type %}
                            {% if character.type != "" %}
                                {{ character.type }}
                            {% else %}
                                Unknown
                            {% endif %}
                        {% endblock %}
                        {% block character_gender %}{{ character.gender }}{% endblock %}
                        {% block character_origin %}{{ character.origin.name }}{% endblock %}
                        {% block character_location %}{{ character.location.name }}{% endblock %}
                        {#                {% block character_episode %}{{ character.episode }}{% endblock %}#}
                    {% endembed %}
                </div>
            </div>
            {% if loop.index % 3 == 0 %}
                </div><div class="row">
            {% endif %}
            {% if loop.last %}
                </div> {# close last row #}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
