<div class="card">
    <img class="card-img-top" src="{% block character_img %}...{% endblock %}" alt="{% block character_alt_img %}{% endblock %}">
    <div class="card-body">
        <h5 class="card-title">{% block character_name %}...{% endblock %}</h5>
        <p class="card-text">
            Status: {% block character_status %}unknown{% endblock %}<br />
            Species: {% block character_species %}unknown{% endblock %}<br />
            Type: {% block character_type %}unknown{% endblock %}<br />
            Gender: {% block character_gender %}unknown{% endblock %}<br />
            Origin: {% block character_origin %}unknown{% endblock %}<br />
            Location: {% block character_location %}unknown{% endblock %}<br />
        </p>
    </div>
</div>